button{
    width: 200px;
    background-color: darkseagreen;
    outline: none;
    border: none;
    margin: 10px;
}
img{
   width: 500px;
   margin: 20px;
   height: 200px;
}
.defualt{
    color: black;
}
.activeclass{
    color: green;
}